body {
    align-items: normal;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 4em;
    width: 85vw;
    z-index: 1;
    margin-inline: auto;
}

div.play-again {
    position: absolute;
    bottom: 0;
}

main.step-1 {
    background: url(images/bg-triangle.svg) no-repeat center center;
    background-size: 250px;
}

main figure {
    margin: 1em;
}

main figure img {
    width: 25vw;
}

figure img {
    padding: 2em;
}

footer {
    right: 5%;
}